<!-- <span class="glyphicon glyphicon-menu-hamburger"></span> -->
<!-- <span class="glyphicon glyphicon-remove"></span> -->


<div id="menu-icon">
  <span id="menu-text" (click)="menuClick()" [ngClass]="getMenuIcon()"></span>
</div>

<div [ngClass]="linkMenu()">
  <div *ngIf="!showHamburger">
    <ul class="link-list" style="list-style: none">
        <li *ngFor="let linkName of linkNames; let i = index" [attr.data-index]="i">
          <h4 id="link-list-item" (click)="clickMenuItem(i)">{{ linkName }}</h4>
        </li>
      </ul>
  </div>
</div>

<app-home *ngIf="getCurrentToggle()[0]"></app-home>
<app-projects *ngIf="getCurrentToggle()[1]"></app-projects>
<app-publications *ngIf="getCurrentToggle()[2]"></app-publications>

<!-- <app-projects></app-projects> -->

<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="navbarMenu()">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a (click)="clickHome()" class="navbar-brand">{{ homeName }}</a>
    </div>
    <div class="collapse navbar-collapse" [ngClass]="{'in':menuDisplay}"> 
      <ul class="nav navbar-nav">
        <li *ngFor="let linkName of linkNames; let i = index" [attr.data-index]="i">
          <a style="color:white" (click)="clickMenuItem(i)">{{ linkName }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div style="padding-top: 50px"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p *ngIf="test">The test is true</p>
      <p *ngIf="!test">The test is false</p>
    </div>
  </div>
</div> -->